<div id="footer" class="container-fluid">
    <div class="wrapper">
        <div class="container">
            <div class="row">
                <footer class="main-footer"  >
                    <table>
                        <tr><td rowspan="2" width="100%"><strong>Copyright &copy; 2022 <a href="http://www.aade.gr"><span class="hidden-sm hidden-xs">Ανεξάρτητη Αρχή Δημοσίων Εσόδων </span>(ΑΑΔΕ)</a></strong></td><td align="center"><!--span><img  style="width: 40px" class="change-svg-logo-color" src="images/Coat_of_Arms_of_Greece.png"  /></span--></td></tr>
                        <tr><td align="center" nowrap></td></tr>
                        <tr><td rowspan="2" width="100%"><strong>Τεστ Έκδοση 5.0.0</strong></td></tr>
                    </table>
                </footer>	
        </div>
     </div>
   </div>
</div>

