.mycolumn1 {
    background-color: red;
    color: white;
    height: 350px;
}
.mycolumn2 {
    background-color: blue;
    color: white;
    height: 350px;
}
.mycolumn3 {
    background-color: yellow;
    color: white;
    height: 350px;
}