<section class="container buttons-groups-wide">
    <div class="custom-menu">
        <div class="btn1 btn custom-panel card card-blue">
            <div class="custom-panel-title"><p style="padding: 30px;" (click)="loginTemplateDriven()">Login Template Driven Form</p></div>
        </div>
        <div class="btn1 btn custom-panel card card-blue-light">
            <div class="custom-panel-title"><p style="padding: 30px;" (click)="ypovoliDilwshsTemplate()">Appeal Template Driven Form</p></div>
        </div>
        <div class="btn1 btn custom-panel card card-blue">
            <div class="custom-panel-title"><p style="padding: 30px;" (click)="openExampleModal()">Modal Example</p></div>
        </div>
        <div class="btn1 btn custom-panel card card-blue-light">
            <div class="custom-panel-title"><p style="padding: 30px;" (click)="loginReactive()">Login Reactive Form</p></div>
        </div>
        <div class="btn1 btn custom-panel card card-blue-light">
            <div class="custom-panel-title"><p style="padding: 30px;" (click)="ypovoliDilwshsReactive()">Appeal Reactive Form</p></div>
        </div>
    </div>
</section>
