<section class="layout-general layout-table">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
            <div class="card">
            <div class="card-header">
                Login (Reactive Form)
            </div>
            <div class="card-body">
                <h5 class="card-title">Login Form</h5>
                <form class="login-form data-form" [formGroup]="loginReactiveForm">
                     <div class="row">
                           <div class="col-sm-9">
                               <div class="form-group row">
                                    <label for="exampleInputEmail1" class="col-sm-6 py-3 col-form-label">Email address</label>
                                    <input type="email" name="email" class="form-control col-sm-6 py-3" placeholder="Email"
                                    id="exampleInputEmail1" aria-describedby="emailHelp" 
                                    formControlName="email">
                                    <!-- [formControl]="email"> -->
                                    <!-- formControlName="email">-->
                                    <div *ngIf="email.touched && email.errors" class="error col-sm-6 offset-sm-6">
                                        <div *ngIf="email.errors?.required">
                                            The email is mandatory.
                                        </div>
                                        <div *ngIf="email.errors?.minlength">
                                            Your email must have minimum {{email.errors.minlength.requiredLength}} chars,
                                        but it only has {{email.errors.minlength.actualLength}}.
                                        </div>
                                        <div *ngIf="email.errors?.email">
                                            This is not a valid email.
                                        </div>
                                    </div>
                               </div>
                               <div class="form-group row">
                                    <label for="exampleInputPassword1" class="col-sm-6 col-form-label">Password</label>
                                    <input type="password" name="password" id="exampleInputPassword1" class="form-control col-sm-6"
                                    placeholder="Password" formControlName="password">
                                    <!-- [formControl]="password" -->
                                    <!-- formControlName="password" -->
                                    <div *ngIf="password.touched && password.errors" class="error col-sm-6 offset-sm-6">
                                        <div *ngIf="password.errors?.required">
                                            The password is mandatory.
                                        </div>
                                        <div *ngIf="password.errors?.minlength">
                                            Your password must have minimum {{password.errors.minlength.requiredLength}} chars,
                                        but it only has {{password.errors.minlength.actualLength}}.
                                        </div>
                                    </div>
                               </div>
                               <div class="form-group row">
                                <div class="offset-sm-10 col-sm-2 py-4">
                                    <button type="submit" class="btn btn-primary" [disabled]="!loginReactiveForm.valid" (click)="loginFormSubmit()">Submit</button>
                               </div>
                              </div>
                           </div>
                    </div>    
                </form>
                <div class="form-val">
                    {{ loginReactiveForm.valid }}
                    {{ loginReactiveForm.value | json }}
                </div>
            </div>
            </div>
            </div>
        </div>
    </div>
</section>

